<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/products">Products</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/test">Test</a>
    </div>
</nav>
